<div>
<h1>Sign Up</h1>
<table>
		<tr>
			<td>Username</td>
			<td><input type="text" ng-model="user.name" placeholder="enter username"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" ng-model="user.email" placeholder="enter email"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="text" ng-model="user.password" placeholder="enter password"></td>
		</tr>
		<tr>
			<td>Re-password</td>
			<td><input type="text" ng-model="user.repass" placeholder="re-enter password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" ng-click="signup(user)" value="Submit"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" ng-click="refresh()" value="refresh"></td>
		</tr>
	</table>
	</div>